body {
    /*font-size: 300%; */
    max-width: 1280px;
    margin: auto;
    font-family: Arial;
}

header {
    text-align: center;
}

header p {
    font-size: 0.8em;
    /*refernzgröße 0.8 = 80% kann man aber auc in pixel; besser aber in em weil browser auflösung*/
    font-weight: bold;
    text-align: right;
    padding-right: 1em;
    margin-top: -2em;
}

.white,
.white a:link,
.white a:visited {
    color: white;
}
header nav img {
    border-radius: 50%;
}

a:link, /* es ist auch einfach nur */
a:visited {
    color: black;
}

header nav address {
    font-size: 0.9em;
    font-style: italic;
}

main {
    max-width: 70%;
    margin: auto;
}

main p {
    text-align: justify;
}